* {
    font-family: PT-Sans, sans-serif;
  }
  
  /* nav {
    background-color: #DCF2F1;
    color: #365486;
    display: flex;
    padding: 8px;
    height: fit-content;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
  } */

  #navImg {
    margin-left: 142px;
  }
  
  .navbar-nav {
    font-size: 14px;
    margin-right: 142px;
    text-transform: uppercase;
    font-weight: 500;
    color: #365486;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .link-wrapper {
    display: flex;
  }

  .carousel-caption {
    top: 125px;
    font-weight: bold;
  }

  .carousel-item {
    position: sticky;
    width: 100%;
    align-items: center;
  }

  .service img {
    width: 20%;
  }

  .service .row {
    border-radius: 5%;
    border-color: black;
  }

  .service .col-sm-4 {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    border-inline-color: initial;
  }

  .service h4 {
    margin-top: 12px;
  }

  .service p {
    margin-top: 12px;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .service a {
    margin-top: 12px;
  }